<?xml version='1.0' encoding='UTF-8'?>
<!-- SecurePlan CAD: a per-user install that needs no administrator rights,
     with its own identity (UpgradeCode, Add/Remove Programs entry, install
     folder). It registers no .dwg/.dxf associations and installs no
     thumbnail extension; it registers only the secureplan-cad: link scheme,
     for the current user (HKCU\Software\Classes), removed on uninstall
     (DSK-04). -->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
    Id='*'
    Name='SecurePlan CAD'
    UpgradeCode='6ab8e75d-b609-40b8-b5a5-2bf8697cc6de'
    Manufacturer='Vizmo'
    Language='1033'
    Codepage='1252'
    Version='$(var.Version)'>

    <Package
      Id='*'
      Keywords='!(loc.Installer)'
      Description='!(loc.InstallerDescription)'
      Manufacturer='Vizmo'
      InstallerVersion='500'
      Languages='1033'
      Compressed='yes'
      InstallScope='perUser'
      InstallPrivileges='limited'
      SummaryCodepage='1252' />

    <MajorUpgrade
      Schedule='afterInstallInitialize'
      DowngradeErrorMessage='!(loc.DowngradeError)' />

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

    <Icon Id='AppIcon.ico' SourceFile='$(var.Icon)' />
    <Property Id='ARPPRODUCTICON' Value='AppIcon.ico' />
    <Property Id='ARPHELPLINK' Value='https://github.com/vizmo-vms/OpenCADStudio' />
    <Property Id='ARPURLINFOABOUT' Value='https://github.com/vizmo-vms/OpenCADStudio' />
    <Property Id='ARPURLUPDATEINFO' Value='https://github.com/vizmo-vms/OpenCADStudio/releases' />
    <Property Id='ARPCONTACT' Value='Vizmo' />
    <Property Id='ARPCOMMENTS' Value='!(loc.ApplicationDescription)' />
    <Property Id='ARPNOREPAIR' Value='1' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='LocalAppDataFolder'>
        <Directory Id='UserProgramsFolder' Name='Programs'>
          <Directory Id='APPLICATIONROOTDIRECTORY' Name='SecurePlan CAD'>
            <!-- Per-user components key off HKCU, not the file (ICE38). -->
            <Component Id='MainExecutable' Guid='2e41472a-fb18-468f-9cd2-bc533161bf3d'>
              <File
                Id='OpenCADStudioEXE'
                Name='SecurePlanCAD.exe'
                DiskId='1'
                Source='$(var.Source)' />
              <RegistryValue
                Root='HKCU'
                Key='Software\Vizmo\SecurePlan CAD'
                Name='installed'
                Type='integer'
                Value='1'
                KeyPath='yes' />
              <RemoveFolder Id='RemoveApplicationRoot' On='uninstall' />
              <RemoveFolder Id='RemoveUserPrograms' Directory='UserProgramsFolder' On='uninstall' />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <!-- The secureplan-cad: link scheme the SecurePlan web page opens
           (DSK-04), per user, pointing at the installed executable. -->
      <Component Id='UrlScheme' Guid='8abe5bc1-75e9-4d0e-915b-4f25a2abccc5'>
        <RegistryKey Root='HKCU' Key='Software\Classes\secureplan-cad' ForceDeleteOnUninstall='yes'>
          <RegistryValue Type='string' Value='URL:SecurePlan CAD' />
          <RegistryValue Type='string' Name='URL Protocol' Value='' />
          <RegistryValue
            Key='shell\open\command'
            Type='string'
            Value='"[APPLICATIONROOTDIRECTORY]SecurePlanCAD.exe" "%1"'
            KeyPath='yes' />
        </RegistryKey>
      </Component>

      <Directory Id='ProgramMenuFolder'>
        <Directory Id='ProgramMenuDir' Name='SecurePlan CAD'>
          <Component Id='ProgramMenuDirComp' Guid='9c316f44-162e-48eb-a4eb-f80e0f662bdd'>
            <Shortcut
              Id='StartMenuShortcut'
              Name='SecurePlan CAD'
              Description='!(loc.Launch)'
              Target='[APPLICATIONROOTDIRECTORY]SecurePlanCAD.exe'
              WorkingDirectory='APPLICATIONROOTDIRECTORY'
              Icon='AppIcon.ico'
              IconIndex='0' />
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue
              Root='HKCU'
              Key='Software\Vizmo\SecurePlan CAD'
              Name='start_menu_shortcut'
              Type='integer'
              Value='1'
              KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id='DesktopFolder' Name='!(loc.Desktop)'>
        <Component Id='DesktopShortcutComp' Guid='359777ee-7c0d-4598-bfdf-436b49f7c097'>
          <Shortcut
            Id='DesktopShortcut'
            Name='SecurePlan CAD'
            Description='!(loc.Launch)'
            Target='[APPLICATIONROOTDIRECTORY]SecurePlanCAD.exe'
            WorkingDirectory='APPLICATIONROOTDIRECTORY'
            Icon='AppIcon.ico'
            IconIndex='0' />
          <RegistryValue
            Root='HKCU'
            Key='Software\Vizmo\SecurePlan CAD'
            Name='desktop_shortcut'
            Type='integer'
            Value='1'
            KeyPath='yes' />
        </Component>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='SecurePlan CAD' Level='1' Display='expand'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='ProgramMenuDirComp' />
      <ComponentRef Id='UrlScheme' />
      <Feature
        Id='DesktopShortcut'
        Title='!(loc.DesktopShortcut)'
        Description='!(loc.DesktopShortcutDescription)'
        Level='1'
        Absent='allow'>
        <ComponentRef Id='DesktopShortcutComp' />
      </Feature>
    </Feature>
    <UIRef Id='OpenCADStudioUI' />

  </Product>
</Wix>
